<!-- Navbar con Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-2" href="/">Hola Piero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fs-3" href="/nueva">Cargar Reserva</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown"> <!-- Agrega este contenedor -->
                        <a class="nav-link fs-3 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Calendario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/calendario/Mansilla">Mansilla</a>
                            <a class="dropdown-item" href="/calendario/Billinghurst">Billinghurst</a>
                            <a class="dropdown-item" href="/calendario/Corrientes">Corrientes</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-3" href="#">Facturación</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
